//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
	font-size: rem(16);
	line-height: math.div(22, 16);
	padding: rem(24);
	gap: rem(16);

	@media (any-hover: hover) {
		transition: $transition ease opacity 0s;
		&:hover {
			.link__arrow::before {
				width: rem(60);
			}
		}
	}

	// .btn_bg-green
	&_bg-green {
		background-color: #549a40;
		color: $White;

		@media (any-hover: hover) {
			transition: $transition ease background-color 0s;
			&:hover {
				background-color: rgba($color: #549a40, $alpha: 0.9);
			}
		}
	}
}
